.card_container {
  height: 20rem;
  width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: ghostwhite;
  margin: 1rem;
  position: relative;
}

.card_container h3 {
  margin-top: 1rem;
}

img {
  width: 16rem;
  height: 15rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
}

.more {
  margin: 0.5rem 0 1rem 0;
}

.more a {
  text-decoration: none;
  color: darksalmon;
}

.more a:hover {
  text-decoration: underline;
  color: pink;
}

.flag img {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 0;
  right: 0;
}

/* info card style */
.card {
  margin: 1rem;
  width: 25rem;
  padding: 1rem;
  border: 0.5px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px white;
}

.card p {
  margin: 1rem 0;
}
