.card_container {
  height: 15rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
  margin: 1rem;
  border-radius: 10px;
}

.card_container h3 {
  margin-top: 1rem;

}

img {
  width: 15rem;
  height: 10rem;
  border-radius: 10px;
}

.more {
  margin: 0.5rem 0 1rem 0;
}