.card_container {
  height: 20rem;
  width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: ghostwhite;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  position: relative;
}

.card_container h3 {
  margin-top: 1rem;

}

img {
  width: 16rem;
  height: 15rem;
  border-radius: 10px;
}

.more {
  margin: 0.5rem 0 1rem 0;
}

.more a {
  text-decoration: none;
  color: darksalmon;
}

.more a:hover {
  text-decoration: underline;
  color: pink;
}

.flag img {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 0;
  right: 0;
}