.home {
  color: white;
  height: 25rem;
  margin: 0 2rem;
  font-family: "Roboto", sans-serif;
  position: relative;
}

#background_video {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  padding: 3rem;
}

.home a {
  text-decoration: none;
  padding: 1rem;
  background-color: black;
  border: 1px solid pink;
  color: pink;
}

.home p {
  margin-bottom: 1.5rem;
}

.list_holder {
  margin: 3rem;
}

.home h1,
.home p {
  padding: 1.5rem;
}

.home_container h1,
.home_container h2,
.home_container h4 {
  font-family: "DM Serif Display", serif;
}

.card a {
  text-decoration: none;
  color: pink;
}

h2 {
  margin: 2rem 0;
  text-align: center;
}

.home_cards {
  display: flex;
  justify-content: space-around;
}

/* styling for recipes */
.input_style {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 1rem 0.5rem;
}

.recipes {
  font-family: "Roboto", serif;
  min-height: 78vh;
}

.all_card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: "5px";
  width: "100%";
}

/* for mobile */
@media (max-width: 576px) {
  .home {
    margin: 0;
  }

  .home p {
    width: 20rem;
  }

  .home_container h2 {
    font-size: medium;
  }

  .home_cards {
    display: flex;
    flex-direction: column;
  }

  .list_holder {
    margin: 0;
  }

  .card {
    width: 20rem;
  }

  .all_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
