* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 5rem;
  background-color: gray;
  padding: 1rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;

}

li {
  list-style-type: none;
  margin: 0 0.5rem;
}