* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 90vh;
}
header {
  background-color: gray;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

li {
  list-style-type: none;
  margin: 0 1rem;
}

header a {
  text-decoration: none;
  color: white;
}
footer{
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin-top: 1rem;
  
}
/* styling for form */
.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  font-family: 'Raleway', sans-serif;
}

.form h3 {
  font-family: 'DM Serif Display', serif;
}


input,
textarea,
select {
  width: 15rem;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

input,
select {
  height: 2rem;
  border: 1px solid black
}

textarea {
  height: 4rem;
}

label {
  display: flex;
  margin: 0.5rem 0 0.25rem 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
}

.buttons {
  display: flex;

}

form p {
  margin: 0.5rem 0;
}

.ingredients_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ingredients_list input {
  width: 7rem;
  margin-right: 3px;
}

.ingredient_holder button {
  height: 2rem;
  width: 5rem;
  display: flex;
  background-color: white;
  border: 1px solid green;
  color: green;
  margin: 5px 0 0 3px;
}

#post {
  height: 2rem;
  width: 5rem;
  border: none;
  background-color: green;
  color: white;
}

/* single recipe styles */

.back_button button {
  background-color: black;
  color: white;
  height: 2rem;
  width: 5rem;
  margin: 2rem auto;
}

.single_recipe_container {
  font-family: 'Roboto', serif;
}

.single_recipe_container h3 {
  font-family: 'DM Serif Display', serif;
}


.single_recipe h2,
.single_recipe h3,
.single_recipe p {
  margin: 0.5rem 0;
}

.image {
  position: relative;
  margin-right: 5rem;
  box-shadow: 0 0 10px black;
}

.flag {
  position: absolute;
  right: 0;
  top: 0;
}

.basic_information {
  display: flex;
  flex-direction: row;
  margin: 1rem 10rem;
}

.cooking_info {
  display: flex;
  flex-direction: row;
  margin: 0 5rem;
}

.single_description {
  margin-top: 1rem;
}

.main_info {
  margin-left: 14.5rem;
}

.main_info h5 {
  margin: 1rem 0;
}

.main_info span {
  font-style: italic;
}

.cooking_info h3,
.single_description h3 {
  text-align: center;
}

.table {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  width: 35rem;
  margin: 0.25rem;
}

.single_instruction {
  margin-left: 5rem;
}

.single_instruction p,
.single_description p {
  width: 40rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
}

/* for mobile responsiveness */

@media (max-width:576px) {
  .single_recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .basic_information {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image,
  .main_info {
    margin: 0;
  }

  .single_description p {
    margin: 1rem 0;
    width: 15rem;
  }

  .cooking_info {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .table {
    width: 20rem;
  }

  .single_instruction {
    margin: 0;
  }

  .single_instruction p {
    width: 20rem;
  }
}